# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    translator: true

    secret: '%env(APP_SECRET)%'
    csrf_protection: true

    # Note that the session will be started ONLY if you read or write from it.
    session:
        enabled: true

        # 15 minutes inactivity => session considered expired server-side
        gc_maxlifetime: 900

        # cookie dies when browser closes (optional but common for security)
        cookie_lifetime: 0

        # good hygiene
        cookie_secure: auto
        cookie_samesite: lax
        cookie_httponly: true

    #esi: true
    #fragments: true

    router:
        default_uri: '%env(HOST)%'

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
