version: "3.8"

services:
  digital-nginx:
    build:
      dockerfile: docker/nginx/Dockerfile
      context: ./
    container_name: digital-nginx
    working_dir: /etc/nginx/
    volumes:
      - ~/.ssh:/root/.ssh
      - ./public:/var/www/public
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
#      - /opt/mtls:/opt/mtls:ro
    environment:
      APP_SECRET: "${APP_SECRET}"
    ports:
      - "10000:80"
    cap_add:
      - NET_BIND_SERVICE
    networks:
      - digital_network

  digital-backend:
    build:
      dockerfile: docker/php-fpm/Dockerfile
      context: ./
      target: prod
    container_name: digital-backend
    volumes:
      - ~/.ssh:/root/.ssh
      - /opt/mtls:/opt/mtls:ro
#      - ./docker/php-fpm/supervisor.d/local.ini:/etc/supervisor.d/default.ini
#      - .:/var/www
    environment:
      PHP_MEMORY_LIMIT: 512M
      DATABASE_URL: "${DATABASE_URL}"
      APP_SECRET: "${APP_SECRET}"
      MAILER_DSN: "${MAILER_DSN}"
      ENCRYPTION_KEY: "${ENCRYPTION_KEY}"
      PERSONAL_STRING: "${PERSONAL_STRING}"
      WAZZUP_API_URL: "${WAZZUP_API_URL}"
      WAZZUP_API_TOKEN: "${WAZZUP_API_TOKEN}"
      TELEGRAM_URL: "${TELEGRAM_URL}"
      CRON_SECRET_TOKEN: "${CRON_SECRET_TOKEN}"
      RECAPTCHA_SITE_KEY: "${RECAPTCHA_SITE_KEY}"
      RECAPTCHA_SECRET_KEY: "${RECAPTCHA_SECRET_KEY}"
      RECAPTCHA_SITE_KEY_V2: "${RECAPTCHA_SITE_KEY_V2}"
      RECAPTCHA_SECRET_KEY_V2: "${RECAPTCHA_SECRET_KEY_V2}"
      ADMIN_TG: "${ADMIN_TG}"
      ADMIN_WA: "${ADMIN_WA}"
      CRYPTOCLOUD_API_KEY: "${CRYPTOCLOUD_API_KEY}"
      CRYPTOCLOUD_SECRET_KEY: "${CRYPTOCLOUD_SECRET_KEY}"
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      S3_BUCKET: "${S3_BUCKET}"
      KMS_MODE: "${KMS_MODE}"
      API_HEALTHCHECK_IP_1: "${API_HEALTHCHECK_IP_1}"
      API_HEALTHCHECK_IP_2: "${API_HEALTHCHECK_IP_2}"
      API_HEALTHCHECK_CERT: "${API_HEALTHCHECK_CERT}"
      API_HEALTHCHECK_KEY: "${API_HEALTHCHECK_KEY}"
      API_HEALTHCHECK_CA: "${API_HEALTHCHECK_CA}"
      TEST_KMS_KEY_1: "${TEST_KMS_KEY_1}"
      TEST_KMS_KEY_2: "${TEST_KMS_KEY_2}"
      TEST_KMS_KEY_3: "${TEST_KMS_KEY_3}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    cap_add:
      - NET_BIND_SERVICE
    networks:
      - digital_network

  digital-mysql:
    image: mysql:8.0.33
    container_name: digital-mysql
    environment:
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
    volumes:
      - /var/lib/mysql-data:/var/lib/mysql:rw
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf:ro
    ports:
      - "13000:3306"
    networks:
      - digital_network

networks:
  digital_network:
    name: digital_network
    driver: bridge
