{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <h2 class="mt-7 pt5" style="padding-top: 4em;">About "The Digital Heir"</h2>

        <p>Our service provides a secure and reliable way to store and share sensitive information. Here's how it works:</p>

        <h5>Encrypt Your Information</h5>
        <p>You start by entering all your important passwords, addresses, and other confidential details. This information is then encrypted using an answer to a unique security question.</p>

        <h5>Select Trusted Recipients</h5>
        <p>Next, you choose who you want to have access to this information. For each recipient, you create 2-3 personalized security questions. These questions are specific to the individual and ensure that only they can decrypt the data.</p>

        <h5>Access for Trusted Individuals</h5>
        <p>Even if they don't get the answer right the first time, your trusted contacts will be able to access the information within 3-4 attempts. Each note is encrypted with your key and additional copies are encrypted with the keys specific to your trusted recipients.</p>

        <h5>Security in Case of Emergency</h5>
        <p>All encrypted notes are stored securely on our servers. If something happens to you, or your device is compromised, your trusted contacts will still be able to access the necessary information using their personalized security questions.</p>

        <p>With our service, you can rest assured that your sensitive information is safe and accessible only to those you trust.</p>
    </div>
{% endblock %}
