{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <h2 class="mt-7 pt5" style="padding-top: 4em;">About "The Digital Heir"</h2>

        <p></p>
        <p>Our service offers a secure and reliable solution for leaving your digital assets as an inheritance.</p>
        <p>We do not watch you. We do not sale your data in any way.</p>
        <p>We prioritize your privacy and security at every step.</p>
        <p>Your contact details are encrypted before they are stored, ensuring they remain confidential.</p>
        <p>We also encrypt your secret envelopes with answers to your security questions.</p>
        <p>Once encrypted, these answers are deleted from our database, leaving only you and God with the knowledge.</p>
        <p>There is no way to decode your secret envelopes without the answers provided by you!</p>

        <p>Here's how it works:</p>

        <h5>Registration</h5>
        <p></p>

        <h5>Secret Questions</h5>
        <p></p>

        <h5>Create Envelope</h5>
        <p></p>

        <h5>Add Beneficiary To Envelope</h5>
        <p>All encrypted notes are stored securely on our servers. If something happens to you, or your device is compromised, your trusted contacts will still be able to access the necessary information using their personalized security questions.</p>

        <p>With our service, you can rest assured that your sensitive information is safe and accessible only to those you trust.</p>
    </div>
{% endblock %}
