{% extends 'base.html.twig' %}

{% block content %}
    <style>
        .form-container {
            padding-top: 4em;
        }
        .form-header {
            margin-bottom: 1em; /* Add some space between the header and the form */
        }
        #demonstration_type2{
            padding-top: 6em;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="form-header" style="padding-top: 4em;">Left column is your data encoded with our secret key + our secret string - this how we store your data in Database</h1>
                {{ form(form1) }}
            </div>
            <div class="col-md-6">
                <h1 class="form-header" style="padding-top: 4em;">Right column what your enter in Registration form</h1>
                {{ form(form2) }}
            </div>
        </div>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}