{% extends 'base.html.twig' %}
    {% block content %}
        <div class="container">
            <h1 style="padding-top: 3em;font-size: 2rem;">Dashboard</h1>

            {#    Vue render    #}
            <div id="app"></div>

        </div>

    {% endblock %}
