{% extends 'base.html.twig' %}
    {% block content %}
        <style>
            .form-container {
                padding-top: 4em;
            }
            .form-header {
                margin-bottom: 1em; /* Add some space between the header and the form */
            }
            #demonstration_type2{
                padding-top: 6em;
            }
        </style>
        <div class="container">
            <h1 style="padding-top: 3em;font-size: 2rem;">Dashboard</h1>

            {#    Vue render    #}
{#            <div id="app"></div>#}

            {% if customerHasNote is defined and customerHasNote %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/note/{{ customerHasNote }}/edit" role="button"><i class="">Edit Your Secure Envelope</i></a>
                </section>
                <p>explanation</p>
            {% endif %}
            {% if customerHasNote is defined and not customerHasNote %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/note/create" role="button"><i class="">Create Your Secure Envelope</i></a>
                </section>
                <p>explanation</p>
            {% endif %}

            <section class="mb-4">
                <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/beneficiary/create" role="button"><i class="">Create Your Heir</i></a>
            </section>
            <p>explanation</p>

            <section class="mb-4">
                <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/pipeline/create" role="button"><i class="">Create Your Pipeline</i></a>
            </section>
            <p>explanation</p>

            <section class="mb-4">
                <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/pipeline/create" role="button"><i class="">Make A Payment</i></a>
            </section>
            <p>explanation</p>


            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

    {% endblock %}
